
<input type="hidden" th:field="*{id}">
<table class="table">
	<tr>
		<td>* Company Code</td>
		<td><input type="text" th:field="*{code}" class="form-control" disabled></td>
	</tr>
	<tr>
		<td>* Company Name</td>
		<td><input type="text" required th:field="*{name}" class="form-control" disabled></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="email" th:field="*{email}" class="form-control" disabled></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><input type="text" th:field="*{address}" class="form-control" disabled></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><input type="number" th:field="*{phone}" class="form-control" disabled></td>
	</tr>
	<tr>
		<td colspan="2"><button class="btn btn-primary" type="button">Cancel</button></td>
		<td></td>
	</tr>
</table>