<form th:action="@{~/user/save}" th:object="${user}" method="post">
<input type="hidden" th:field="*{id}">
<table class="table">
	<tr>
		<td>* Role Name</td>
		<td>
			<select th:field="*{mRoleId}" class="form-control">
					<!-- <option value="">-Select Role Name-</option> -->
                	<option th:each="role : ${role}"
                    th:value="${role.id}"
                    th:text="${role.name}"></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>* UserName</td>
		<td><input type="text" th:field="*{username}" class="form-control"></td>
	</tr>
	<tr>
		<td>* Employee Name</td>
		<td>
			<select th:field="*{mEmployeeId}" class="form-control">
					<!-- <option value="">-Select Employee-</option> -->
                	<option th:each="employee : ${employee}"
                    th:value="${employee.id}"
                    th:text="${employee.name}"></option>
			</select>
		</td>
	</tr>
	<tr>
		<td>* Password</td>
		<td><input type="password" th:field="*{password}" class="form-control"></td>
	</tr>
	<tr>
		<td>* Re-type Password</td>
		<td><input type="password" th:field="" class="form-control"></td>
	</tr>
	<tr>
		<td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
		<td></td>
	</tr>
</table>
</form>