<!Doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
	<title>Assigment Xsis Mitra Utama</title>
</head>

<body>
	<div layout:fragment="content" class="container">
	<h1>List User<button onclick="tambahData()" class="btn btn-success" style="float:right">+</button></h1>
		<table class="table">
			<thead>
					<th class="tabletd">No</th>
					<th class="tabletd">Employee</th>
					<th class="tabletd">Role</th>
					<th class="tabletd">Company</th>
					<th class="tabletd">Username</th>
					<th class="tabletd">Created Date</th>
					<th class="tabletd">Created By</th>
					<th class="tabletd">Action</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${user} ">
					<td class="tabletd" th:text="${item.id}"></td>
					<td class="tabletd" th:text="${item.employee.firstName}"></td>
					<td class="tabletd" th:text="${item.role.name}"></td>
					<td class="tabletd" th:text="${item.company.name}"></td>
					<td class="tabletd" th:text="${item.username}"></td>
					<td class="tabletd" th:text="${#temporals.format(item.createdDate,'dd-MM-yyyy')}"></td>
					<td class="tabletd" th:text="${item.createdBy}"></td>
					<td class="tabletd">
						<button class="btn btn-warning" th:value="${item.id}" onclick="detail(this.value)">D</button>
						<button class="btn btn-warning" th:value="${item.id}" onclick="edit(this.value)">E</button>
						<button class="btn btn-danger" th:value="${item.id}" onclick="delete_(this.value)">-</button>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
			function tambahData(){
				$.ajax({
					url:'/user/add',
					type:'get',
					contentType:'html',
					success:function(result){
						$(".modal-title").html("Form add user");
						$(".modal-body").html(result);
						$("#mymodal").modal("show");
					}
				})
			}
			function detail(id){
				$.ajax({
					url:'/user/detail/'+id,
					type:'get',
					contentType:'html',
					success:function(result){
						$(".modal-title").html("Form view user");
						$(".modal-body").html(result);
						$("#mymodal").modal("show");
					}
				})
			}
			
			function edit(id){
				$.ajax({
					url:'/user/edit/'+id,
					type:'get',
					contentType:'html',
					success:function(result){
						$(".modal-title").html("Form edit user");
						$(".modal-body").html(result);
						$("#mymodal").modal("show");
					}
				})
			}
			
			function delete_(id){
				var confirm = window.confirm("Yakin Mau Menghapus Data Ini?");
				if(confirm){
					$.ajax({
						url: "/user/delete/"+id,
						type: "post",
						success:function(){
							location.reload(1);
						},
						error:function(e){
							alert(e.responseText);
						}
					})
					
				}
			}
		</script>
	</div>
</body>
</html>